<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Wavestone - Covid 19</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


  <!-- Custom styles for this template -->
  <!--<link href="css/scrolling-nav.css" rel="stylesheet">-->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Risk Factors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#summary">Summary</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Wavestone's COVID-19 research plateform</h1>
      <p class="lead">A risk factor motor powered by NLP</p>
    </div>
  </header>

  <section id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <h2>Lookup a keyword ...</h2>
          <br/>
        </div>
      </div>
      <form id="form1" action="/search" method="POST">
      <div class="row">
        <div class="col-lg-2">

        </div>

        <div class="col-lg-8 ">
          <input name = "keywords" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>

        <div class="col-lg-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>

      </div>

      <div class="row">
         <div class="col-lg-2">

         </div>

         <div class="col-lg-3">
           <div class="range-field my-4 w-75">
              <input type="range" name = "date" class="custom-range" min="0" max="100" id="customRange" />
           </div>
         </div>

        <div class="col-lg-2"></div>

           <div class="form-check col-lg-3">
              <br/>
              <input type="checkbox" class="form-check-input" name="simple_search" value="off" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">simple search</label>
           </div>

      </div>
    </form>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      {% for article in articles %}
        <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="row">
            <div class="col-lg-8">
              <h3>{{article[0]}}</h3>

            </div>
            <div class="col-lg-8">
              <h3>Score : {{article[2]}}</h3>
              <a href="{{article[4]}}">{{article[4]}}</a>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
               <p><strong> Abstract : </strong> {{article[1]}}</p>
            </div>
            <div class="col-lg-4">
              <button type="button" onclick="mytoggle('summary-{{article[3]}}')" class="btn btn-primary summarize">Summarize</button>
            </div>
          </div>
          <div id = "summary-{{article[3]}}" class="row summary"  style="display: none;">
              <p> {{article[5]}} </p>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="summary" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Wavestone 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Custom JavaScript for this theme -->
  <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

  <!-- Our javascript text -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
